<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Admin</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
    <a class="navbar-tabs font-weight-bold" th:href="@{/admin/articles}">Articles</a>

<!--    <a class="navbar-tabs" th:href="@{/admin/assets}">Assets</a>-->
    <a class="navbar-tabs" target="_blank" th:href="@{/api}">API</a>
    <a class="navbar-tabs right" href="/logout">Logout</a>
</nav>
<br>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-body">
                        <a th:href="@{/admin/articles/form}" class="btn btn-primary btn-icon-split float-right">
                            <span class="text">Add Article</span>
                        </a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Created</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="article: ${articles}">
                                    <td th:text="${article.id}" />
                                    <td th:text="${article.title}" />
                                    <td th:text="${#temporals.format(article.created, 'dd-MM-yyyy HH:mm')}" />
                                    <td>
                                        <a th:href="@{'/articles/' + ${article.id}}" class="btn btn-info btn-circle" title="Read" target="_blank"><i class="fas fa-info-circle"></i>Read</a>
                                        <a th:href="@{/admin/articles/form(id=${article.id})}" class="btn btn-warning btn-circle" title="Edit"><i class="fas fa-exclamation-triangle"></i>Edit</a>
                                        <a th:href="@{/admin/articles/delete(id=${article.id})}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-circle" title="Delete"><i class="fas fa-trash"></i>Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
</html>
